{% extends 'layout.html' %}

{% block content %}
{% include 'include/search_form.html' %}
<ul>
    {% load mptt_tags %}
    {% recursetree categories %}
        <li>
            <a href={% url 'add_project' node.id %} title="Add project to this category">{{ node.name }}</a>
            <a class="add-category-button" title="Add child category">+</a>
            <a href={% url 'delete_category' node.id %} class="remove-category-button" title="Remove category">-</a>
            <div class="add-category-form">
                <form action={% url 'add_category' %} class="form-inline" method="post">
                    {% csrf_token %}
                    <input name="category_name" class="form-control" type="text" value="">
                    <input name="parent_id" type="hidden" value="{{ node.id }}">
                    <input class="btn btn-primary" type="submit" value="+">
                </form>
            </div>
            {% if not node.is_leaf_node %}
                <ul class="children list-group-item">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
    <li class="list-group">
        <a class="add-category-button" title="Add category">+</a>
        <div class="add-category-form">
            <form action={% url 'add_category' %} class="form-inline" method="post">
                {% csrf_token %}
                <input name="category_name" class="form-control" type="text" value="">
                <input name="parent_id" type="hidden" value="">
                <input class="btn btn-primary" type="submit" value="+">
            </form>
        </div>
    </li>
</ul>
{% endblock %}
{% block scripts %}
<script>
    $(function() {
        $(".add-category-form").hide();
        $(".add-category-button").on("click", function() {
            $(this).siblings(".add-category-form").toggle();
        });
        $(document).tooltip();
    });
</script>
{% endblock %}